services:
  symfony:
    build:
      context: .
      dockerfile: docker/symfony/Dockerfile
    container_name: symfony
    volumes:
      - ./symfony:/var/www/html
    working_dir: /var/www/html
    ports:
      - "8000:8000"
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: nginx
    ports:
      - "8080:80"
    networks:
      - app-network
    volumes:
      - ./symfony:/var/www/html
    depends_on:
      - symfony

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pg-admin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - app-network


  postgres:
    build:
      context: .
      dockerfile: docker/postgres/Dockerfile
    container_name: postgres
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - ./postgres:/var/lib/postgresql/18/docker

  react:
    build:
      context: .  
      dockerfile: docker/react/Dockerfile
    container_name: react
    ports:
    - "3000:80"
    networks:
    - app-network

networks:
  app-network:
