aside h2 {
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

aside span{
    display: block;
}

.top-section{
    min-height: auto;
}

.hover-effect:hover {
    cursor: pointer;
    filter: brightness(125%);
    transition: transform 0.3s ease;
    transform: scale(1.1);
}


@media screen and (max-width: 768px) {

    aside {
        border-bottom: 1px solid var(--secondary-color);
    }

    aside h2 {
        display: flex;
        justify-content: center;
        gap: 0.25em;
        font-size: 2em;
    }

    .mt-3-mobile {
        margin-top: 3rem !important;
    }

    #button-task {
        width: 50%;
        margin-bottom: 1em;
        font-size: 1em
    }
}