#gallery{
    margin: 0 2em 1em 0;
}

.card {
    background: #000000;
    border: 1px solid #D4AF37;
    border-radius: 8px;
    padding: 1rem 1rem 0rem 1rem;
}

.card:hover .image-wrapper img {
    transform: scale(1.1);
}

.card:hover {
    box-shadow: 0 6px 15px rgb(0, 80, 40);
    cursor: pointer;
}

.alcohol-caption {
    border-top: 1px solid #D4AF37;
    color: #D4AF37;
    font-size: 1vw;
    margin-top: 0.5em;
    padding: 0.5rem;
}

.image-wrapper {
    overflow: hidden;
    position: relative;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {

    #gallery .columns {
        justify-content: center;
    }
    
    #gallery .column {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 70%;
    }

    .card:hover {
        box-shadow: none
    }

    .card:hover .image-wrapper img {
        transform: none;
    }

    .alcohol-caption {
        font-size: 1rem;
    }
}