#gallery{
    margin: 0 2em 0 0;
    min-height: calc(100vh - 14vh - 5vh - 2em - 12px);
/*  14vh - header
    5vh - footer
    2em - margin footer
    12px - padding header */
} 

.card {
    background: black;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 1rem 1rem 0rem 1rem;
}

.card:hover .image-wrapper img {
    transform: scale(1.1);
}

.card:hover {
    box-shadow: 0 6px 15px var(--tertiary-color);
    cursor: pointer;
}

.alcohol-caption {
    border-top: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1vw;
    margin-top: 0.5em;
    padding: 0.5rem;
}

.image-wrapper {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {

    #gallery .columns {
        justify-content: center;
    }
    
    #gallery .column {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 70%;
    }

    .card:hover {
        box-shadow: none
    }

    .card:hover .image-wrapper img {
        transform: none;
    }

    .alcohol-caption {
        font-size: 1rem;
    }
}