html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

form {
    width: 80%;
}

h1 {
    font-size: 4em;
}

#panel-img,
#panel-form {
    min-height: 100vh;
}

.black {
    background-color: #000000;
}

.error{
    min-height: 1.5em;
}

.images-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input:focus {
    border-color: #ffdd57;
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 2em;  
    }
    #button-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #login-page {
        display: flex ;
        flex-direction: column-reverse;
        height: 100vh;
    }

    #logo {
        max-width: 120px;
    }

    #panel-img {
        min-height: 300px;
    }

    #panel-form {
        min-height: auto;
        padding: 2rem;
    }

    #panel-form form {
        width: 100%;
        box-shadow: none;
    }
}