.text *
{
    color: var(--primary-color);
    font-size: 1.5vw;
    margin-left: 1em;
}

.icon-adjust{
    color: var(--primary-color);
    font-size: 1vw;
    position: relative;
    top: -3px;
}

.hover-effect:hover {
    cursor: pointer;
    filter: brightness(125%);
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    nav{
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--secondary-color);
        border-bottom: 1px solid var(--secondary-color);
        padding: 0.8em;
    }
    ul{
        display: flex;
        width: 80%;
        justify-content: space-between;
    }

    .text * {
        margin-left: 0;
    }

    .text span {
        display: none;
    }

    .icon-adjust {
        font-size: 1.8rem;
        top: 0;       
    }
}