header {
    min-height: 14vh;
}

footer {
    min-height: 5vh;
    border-top: 1px solid var(--secondary-color);
    color: var(--primary-color);
    line-height: 5vh;
    margin-top: 2em;
    text-align: center;
}

.panel-notfound {
    min-height: calc(100vh - 14vh - 5vh - 2em - 12px);
}

.panel-notfound *{ 
    color: var(--secondary-color);
}

.icons {
    font-size: 2em;
}